<footer class="footer">
  <div class="region region-footer ui container">
    <section id="block-block-1" class="block block-block clearfix">

      <div class="block-footer-links">
        <div class="container">
          <ul class="menu">
            <li class="show-links">Links<i class="fa fa-bars"></i></li>
            <li class="links">
              <ul>
                <li>
                  <ul>
                    <li class="footer-title">X-Cart</li>
                    <li><a href="//www.x-cart.com/features.html">Features</a></li>
                    <li><a href="//www.x-cart.com/shopping-cart-demo.html">Demo</a></li>
                    <li><a href="//www.x-cart.com/showcase.html">Showcases</a></li>
                    <li class="footer-title">Downloadable</li>
                    <li><a href="//www.x-cart.com/software-download.html">Download</a></li>
                    <li><a href="//www.x-cart.com/software_pricing.html">Pricing</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="footer-title">Extensions</li>
                    <li><a href="//www.x-cart.com/extensions/addons">Add-ons</a></li>
                    <li><a href="//www.x-cart.com/extensions/xcart-templates.html">Design templates</a></li>
                    <li><a href="//www.x-cart.com/ssl">SSL certificates</a></li>
                    <li class="footer-title">Mobile Commerce</li>
                    <li><a href="//www.x-cart.com/mobile-ecommerce-solution.html">Overview</a></li>
                    <li><a href="//demostore.x-cart.com/mobile-demo.php" target="_blank">Demo</a></li>
                    <li class="footer-title">Classic (4.x)</li>
                    <li><a href="//www.x-cart.com/classic/features.html">Features</a></li>
                    <li><a href="//www.x-cart.com/classic-demo.html">Demo</a></li>
                    <li><a href="//www.x-cart.com/pricing.html">Pricing</a></li>
                    <li><a href="//www.x-cart.com/extensions/modules">Modules</a></li>
                    <li><a href="//www.x-cart.com/extras.html">Extras</a></li>
                    <li><a href="//help.x-cart.com">Help for v4.x</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="links">
              <ul>
                <li>
                  <ul>
                    <li class="footer-title">Services</li>
                    <li><a href="//www.x-cart.com/technical-support.html">Tech support</a></li>
                    <li><a href="//www.x-cart.com/web-design.html">Web Design</a></li>
                    <li><a href="//www.x-cart.com/custom-development.html">Custom Development</a></li>
                    <li><a href="//www.x-cart.com/hosting.html">X-Cart Hosting</a></li>
                    <li><a href="//www.x-cart.com/migrate-me.html">Migrate Me to X-Cart</a></li>
                    <li><a href="//www.x-cart.com/services.html#more_services">More Services</a></li>
                    <li class="footer-title">Partners</li>
                    <li><a href="//www.x-cart.com/partners">Featured partners</a></li>
                    <li><a href="//partners.x-cart.com/webstudios">Web Studios</a></li>
                    <li><a href="//partners.x-cart.com/hosting-companies">Find Hosting</a></li>
                    <li><a href="//www.x-cart.com/module-developers.html">Module Developers</a></li>
                    <li><a href="//www.x-cart.com/theme-designers.html">Theme designers</a></li>
                    <li><a href="//www.x-cart.com/reseller-program.html">Become a reseller</a></li>
                    <li><a href="//partners.x-cart.com/partners-resellers.html">Regional resellers</a></li>
                    <li><a href="//www.x-cart.com/affiliates.html">Affiliate program</a></li>
                    <li><a href="//partners.x-cart.com/webstudios#become-partner">Become a partner</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="footer-title">Help &amp; Docs</li>
                    <li><a href="//www.x-cart.com/faq.html">FAQs</a></li>
                    <li><a href="http://kb.x-cart.com/display/XDD/User+manual">Knowledge base</a></li>
                    <li><a href="//forum.x-cart.com/" rel="nofollow">Community forums</a></li>
                    <li><a href="//secure.x-cart.com/" target="_blank">Support Helpdesk</a></li>
                    <li><a href="//www.x-cart.com/verify-license.html">License verification</a></li>
                    <li><a href="//bt.x-cart.com/" rel="nofollow">Issue Tracker</a></li>
                    <li><a href="//ideas.x-cart.com/" rel="nofollow">Suggest a feature</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="contact-us">
              <div class="block-contact">
                <div class="phones">
                  <div class="footer-title">Contact us</div>
                  <span id="us-toll-free" class="sprite-home sprite-us-flag">1-800-657-7957</span>
                  <span id="uk-toll-free" class="sprite-home sprite-uk-flag">44-800-048-8862</span>
                  <span id="toll-free" class="sprite-home sprite-icon-world"> +7 (499) 608-8900</span>
                </div>

                <div class="menu clearfix">
                  <div class="follow-us">
                    <a href="//www.facebook.com/xcart" target="_blank" class="sprite-home sprite-facebook" title="X-Cart on Facebook"><span class="fa fa-facebook-square"></span></a>
                    <a href="//www.twitter.com/x_cart" target="_blank" class="sprite-home sprite-twitter" title="Follow us on Twitter"><span class="fa fa-twitter-square"></span></a>
                    <a href="//instagram.com/xcart/" target="_blank" class="sprite-home sprite-instagram" title="X-Cart Instagram"><span class="fa fa-instagram"></span></a>
                  </div>
                  <ul class="menu clearfix"><li class="first leaf"><a href="//www.x-cart.com/contact-us.html" title="">Email us</a></li>
                    <li class="leaf"><a href="//forum.x-cart.com/" target="_blank" title="">Forum</a></li><li class="last leaf"><a href="//blog.x-cart.com" title="">Blog</a></li>
                  </ul>
                </div>
              </div>
            </li></ul></div>


            <div class="clearfix"></div>
          </div>
        </section>
      </div>

      <div class="block-copyright clearfix">
        <div class="ui container">
          <div class="footer-links">
            <ul class="menu">
              <li><a href="https://drive.google.com/a/x-cart.com/?tab=mo#folders/0B4nrWZMKUeg4ZzNvM21aaTFWTDg" target="_blank">Our logos</a></li>
              <li><a href="//www.x-cart.com/license-agreement.html">License Agreement</a></li>
              <li><a href="//www.x-cart.com/privacy-policy.html">Privacy Policy</a></li>
              <li><a href="//www.x-cart.com/about.html">About us</a></li>
              <li><a href="//www.x-cart.com/contact-us.html">Feedback</a></li>
              <li><a href="//www.x-cart.com/sitemap">Sitemap</a></li>
            </ul>
          </div>
          <div class="copyright">© 2001-2016 Qualiteam</div>
        </div>
      </div>

    </footer>