.footer.segment {
    padding: 2em 0em;
}

#banner {
    padding: 1rem 0;
    background: url(#{$base-dir}/images/banner/img-home-web.jpg) no-repeat center center #514947;
    background-size: cover;

    .banner-menu {
        .header.item {
            img {
                margin-right: 1rem;
            }
        }
    }

    .banner-welcome {
        padding: 5rem 0;

        .header > .headline {
            line-height: 1.5em;
            font-size: 1.5em;
        }

        .header > .tagline {
            font-size: 0.75em;
        }
    }
}

.ui.navigation.segment {
    padding: 5rem 0;
}

.ui.sticky.bound.bottom {
    position: static;
}

.ui.sticky.bound.bottom.absolute-bound {
    position: absolute;
}

.ui.page.vertical.segment:first-child {
    padding-top: 0;
}

.ui.container.page {
    padding: 2rem 0;
}

.navigation-item {
    padding: 1rem;

    a {
        color: $text-color;
    }

    &:hover{
        background: rgba($text-color, .03);
    }
}

.menu.navigation {
    .menu.sub {
        padding-left: 0.5em;
    }
    .anchor-link.item {
        padding: 0;

        a.ui {
            display: block;
            padding: 0.5em 1.33333333em;

            &:hover{
                background: rgba($text-color, .03);
                color: $text-color;
            }
        }
    }
}

// Search pages
.ui.search.site-search {
    background: rgba(0, 0, 0, 0.28);
    padding: 5px 15px;
    border-radius: 500rem;

    .prompt {
        border-radius: 0px;
    }
}

.search-results {
    margin-top: 1rem;

    em {
        background: rgba(255,255,0, 0.5);
    }
}

// article markup

article {
    img {
        box-shadow: 0 3px 10px 2px rgba(0,0,0,0.1);
    }

    .note.segment {
        margin-bottom: 1em;
    }

    .responsive-table {
        width: 100%;
        overflow: auto;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    }
}